@{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}
<div class="admin_other_window">
    <h2>Employee Reports</h2>
</div>
<script>
    $(document).ready(function () {
        navigateTo(DASHBOARD_REPORTS);
    });
</script>
