@{
    Layout = "~/Views/Shared/_UserDetails.cshtml";
}
<html>
<head>
    <title>Attendance</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />   
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/responsive.dataTables.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>
</head>
<body>
    <div class="card">
        <div class="waitIconDiv row text-center" style="display:none">
            <i class='fa fa-refresh fa-spin fa-2x fa-fw' id="imgProgAtt"></i>
        </div>
        <div class="header">
            <h3 class="title">Attendance</h3>
        </div>
        <div class="content attnCntDiv">
            <div class="row" id="punchdInDiv">
                <div class="col-md-4">
                    <h5>Punched In Time</h5>
                </div>
                <div class="col-md-8">
                    <h5 id="PunchedInTime" class="disp_label"></h5>
                </div>
            </div>
            <div class="row" id="punchdOutDiv">
                <div class="col-md-4">
                    <h5>Punched Out Time</h5>
                </div>
                <div class="col-md-8">
                    <h5 id="PunchedOutTime" class="disp_label"></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Date</h5>
                </div>
                <div class="col-md-8">
                    <h5 id="currentDate" class="disp_label"></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Time</h5>
                </div>
                <div class="col-md-8">
                    <h5 id="currentTime" class="disp_label"></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Notes</h5>
                </div>
                <div class="col-md-6">
                    <textarea id="notesField" class="form-control txt-area" placeholder="Enter Notes" maxlength="3992"></textarea>
                </div>
            </div>
            <br />
            <div class="row text-right">
                <div class="col-md-12 col-lg-12">
                    <input type="button" onclick="punchIn()" class="btn btn-info btn-fill pull-right" value="Punch In" id="punhInBtn" />
                    <input type="button" onclick="punchOut()" class="btn btn-info btn-fill pull-right" value="Punch Out" id="punhOutBtn" style="display:none" />
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="header">
            <h4 class="title">Attendance Reports</h4>
        </div>
        <div class="content">
            <input type="button" class="btn btn-info btn-fill" value="Search attendance" onclick="checkpunchInfo()"
                   data-toggle="modal" data-target="#CheckPuchInfo" />
        </div>
    </div>
    <div class="modal fade col-xs-12 col-md-12 col-lg-12 col-sm-12" id="CheckPuchInfo" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content hrms-modal-height">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Attendance Report</h3>
                </div>
                <div class="modal-body" style="min-height:150px">
                    <div class="row attnRprtDiv">
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label class="hrms-required-field">Start Date</label>
                                <input type="text" class="form-control input-field" id="PunchStartDate" title="Start Date" placeholder="Start Date" required/>
                                @Html.Label("Select Start Date", new { id = "lblstartDate", @class = "text-danger errLabel" })
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label>End Date</label>
                                <input type="text" class="form-control input-field" id="PunchEndDate" title="End Date" placeholder="End Date" required/>
                                @Html.Label("Select End Date", new { id = "lblEndDate", @class = "text-danger errLabel" })
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 pull-right" style="padding-top:20px">
                            <div class="form-group">
                                <label></label>
                                <input type="button" value="Search" class="btn btn-info btn-fill" onclick="SearchAttendance()" />
                            </div>
                        </div>
                    </div>
                    <div id="LoadPageAttnRprt" class="waitIconDiv row text-center" style="display:none">
                        <i class='fa fa-refresh fa-spin fa-2x fa-fw' id="imgProg"></i>                        
                    </div>
                    <br />
                    @Html.Label("No Records Found!!", new { id = "lblNoResults", @class = "text-danger errLabel" })
                    <div class="row" id="ResultTableDiv">
                        <table id="punchTable" class="gridTableAtt cell-border hover display nowrap responsive" cellspacing="0" style="width:90%">
                            <thead class="pretty col-header">
                                <tr class="tableHeader">
                                    <th>Date</th>
                                    <th>PunchedIn Time</th>
                                    <th>PunchedOut Time</th>
                                    <th>Duration(hh:mm)</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/app/user/attendance.js"></script>