<!DOCTYPE html>
<html>
<head>
    <title></title>    
</head>
<body>
    <div class="modal fade col-lg-12 col-md-12 col-sm-12 col-xs-12" id="CapturePhotoDiv" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Capture Photo</h3>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 cameraDiv">
                                <div id="Camera"></div>
                            </div>
                            <div class="col-lg-12 capturePreviewDiv">
                                <img id="show" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12 text-center">
                        <input type="button" class="btn btn-info btn-fill cameraDiv" value="Capture" id="cameraCaptureBtn" />
                        <div class="capturePreviewDiv text-center">
                            <label class="">Save Changes?</label>
                            <button class="btn btn-primary btn-sm btn-fill btn-cam-cnfrm" type="button" height="35" width="35" title="Save"
                                    onclick="ChangeCaptureUserPhoto(false);toggleCaptureWindow(true)">
                                <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-primary btn-sm btn-fill btn-cam-cnfrm" type="button" height="35" width="35" title="Cancel"
                                    onclick="ChangeCaptureUserPhoto(true); toggleCaptureWindow(false)">
                                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>
<script src="~/Scripts/jquery.webcam.min.js"></script>
<script type="text/javascript">
    window.onload = load();
    function load() {
        $('#CapturePhotoDiv').modal('show');
    };
    $('#cameraCaptureBtn').on('click', function () {
        webcam.capture();
    });
    function UploadPic() {
        $.ajax({
            type: 'POST',
            url: "/UploadPhoto/Rebind",
            dataType: 'json',
            success: function (data) {
                var path = "../Content/UserIcons/" + data;
                $("#show").attr('src', path);
                $('.cameraDiv').hide();
                $('.capturePreviewDiv').show();
                $('#UserPhotoPath').val(path);
            }
        });
    };
    $("#Camera").webcam({
        width: 320,
        height: 240,
        mode: "save",
        swffile: "@Url.Content("~/Scripts/jscam.swf")",
        onTick: function () { },
        onSave: function () {
            UploadPic();
        },
        onCapture: function () {
            webcam.save("@Url.Content("~/UploadPhoto/Capture/")/");
        },
        debug: function () { },
        onLoad: function () { }
    });
    function captureWebcamImage(){
        var capturedImg = webcam.capture();
        var canvas = $('#Camera');
        if(canvas){
            var context = canvas.getContext("2d");
            var img = canvas.toDataURL("image/png");
            var item_image = img.replace(/^data:image\/(png|jpg);base64,/, "");
            $('#userAvatar').attr('src', item_image);
        }
    };
</script>
