<div class="body-content">
  <app-header></app-header>
  <div class="container login-wrapper">
    <div >
      <section>
        <form aria-autocomplete="off">
          <div class="login-card">
            <h2 class="text-center">LOGIN</h2><br>
            <input class="form-control" id="UserName" name="UserName" (blur)="onBlurInput()" placeholder="USERNAME"
              type="text">
            <input class="form-control" id="Password" name="Password" (blur)="onBlurInput()" placeholder="PASSWORD"
              type="password">
            <input type="submit" name="login" class="login login-submit btn btn-primary btn-fill" value="Sign In">
            <br />
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <a routerlink="auth/forgotpassword" class="float-right hrefLink" id="btnForgotPwd">Forgot Password ?</a>
            </div>
          </div>
        </form>
      </section>
      <app-footer></app-footer>
    </div>    
  </div>
</div>