USE [Hrms]
GO
ALTER TABLE [dbo].[UserAccessToken] DROP CONSTRAINT [FK__UserAcces__UserI__5FB337D6]
GO
ALTER TABLE [dbo].[PasswordResetToken] DROP CONSTRAINT [FK__PasswordR__empId__5EBF139D]
GO
ALTER TABLE [dbo].[LeaveStatistics] DROP CONSTRAINT [FK__LeaveStat__EmpId__31EC6D26]
GO
ALTER TABLE [dbo].[EmployeeLeaveInfo] DROP CONSTRAINT [FK__EmployeeL__Leave__2D27B809]
GO
ALTER TABLE [dbo].[EmployeeLeaveInfo] DROP CONSTRAINT [FK__EmployeeL__EmpId__2C3393D0]
GO
ALTER TABLE [dbo].[EmployeeInfo] DROP CONSTRAINT [FK_EmployeeInfo_UserInfo]
GO
ALTER TABLE [dbo].[EmployeeInfo] DROP CONSTRAINT [FK__EmployeeI__EmpDe__182C9B23]
GO
/****** Object:  Table [dbo].[UserPrivilages]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[UserPrivilages]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[UserInfo]
GO
/****** Object:  Table [dbo].[UserAccessToken]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[UserAccessToken]
GO
/****** Object:  Table [dbo].[PasswordResetToken]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[PasswordResetToken]
GO
/****** Object:  Table [dbo].[LeaveType]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[LeaveType]
GO
/****** Object:  Table [dbo].[LeaveStatistics]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[LeaveStatistics]
GO
/****** Object:  Table [dbo].[HrmsQuery]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[HrmsQuery]
GO
/****** Object:  Table [dbo].[EmployeeLeaveInfo]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[EmployeeLeaveInfo]
GO
/****** Object:  Table [dbo].[EmployeeInfo]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[EmployeeInfo]
GO
/****** Object:  Table [dbo].[EmpDesignation]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[EmpDesignation]
GO
/****** Object:  Table [dbo].[calendar_event_type]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[calendar_event_type]
GO
/****** Object:  Table [dbo].[calendar_event_treeitems]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[calendar_event_treeitems]
GO
/****** Object:  Table [dbo].[calendar_event_status]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[calendar_event_status]
GO
/****** Object:  Table [dbo].[calendar_event_log]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[calendar_event_log]
GO
/****** Object:  Table [dbo].[calendar_event_info_dates]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[calendar_event_info_dates]
GO
/****** Object:  Table [dbo].[calendar_event_info]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[calendar_event_info]
GO
/****** Object:  Table [dbo].[calendar_event_employees]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[calendar_event_employees]
GO
/****** Object:  Table [dbo].[calendar_event_archive]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[calendar_event_archive]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP TABLE [dbo].[Attendance]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP FUNCTION [dbo].[SplitString]
GO
/****** Object:  StoredProcedure [dbo].[RemoveEmployee]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP PROCEDURE [dbo].[RemoveEmployee]
GO
/****** Object:  StoredProcedure [dbo].[RemoveCalendarTask]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP PROCEDURE [dbo].[RemoveCalendarTask]
GO
/****** Object:  StoredProcedure [dbo].[InsertEmployeeDetailsMVC]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP PROCEDURE [dbo].[InsertEmployeeDetailsMVC]
GO
/****** Object:  StoredProcedure [dbo].[EditCalendarTask]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP PROCEDURE [dbo].[EditCalendarTask]
GO
/****** Object:  StoredProcedure [dbo].[CreateCalendarTask]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP PROCEDURE [dbo].[CreateCalendarTask]
GO
/****** Object:  StoredProcedure [dbo].[AddLeaveInfo]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP PROCEDURE [dbo].[AddLeaveInfo]
GO
/****** Object:  StoredProcedure [dbo].[AddEmployeeLeave]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP PROCEDURE [dbo].[AddEmployeeLeave]
GO
USE [master]
GO
/****** Object:  Database [Hrms]    Script Date: 2019-03-07 12:41:54 PM ******/
DROP DATABASE [Hrms]
GO
/****** Object:  Database [Hrms]    Script Date: 2019-03-07 12:41:54 PM ******/
CREATE DATABASE [Hrms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hrms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER_2012\MSSQL\DATA\Hrms.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Hrms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER_2012\MSSQL\DATA\Hrms_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hrms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hrms]
GO
/****** Object:  StoredProcedure [dbo].[AddEmployeeLeave]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[AddEmployeeLeave]
(
@empId INT,
@fromdate nvarchar(50),
@todate nvarchar(50),
@leaveType INT,
@status INT,
@comments nvarchar(max),
@leavedurationtype varchar(10),
@calendarEntryId INT,
@leaveId INT OUT,
@leaveSessionType INT
)

AS
BEGIN
INSERT INTO EmployeeLeaveInfo([EmpId],[FromDate],[ToDate],[LeaveType],[status],[Comments],[DurationType],[CalendarEntryId],[LeaveSessionType])
VALUES(@empId,@fromdate,@todate,@leaveType,@status,@comments,@leavedurationtype,@calendarEntryId,@leaveSessionType)

Select @leaveId=@@IDENTITY
RETURN @leaveId

END








GO
/****** Object:  StoredProcedure [dbo].[AddLeaveInfo]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[AddLeaveInfo]
(
  
  @year int
)

AS
BEGIN

IF OBJECT_ID('tempdb.dbo.#TempTable', 'U') IS NOT NULL
  DROP TABLE #TempTable;

  DECLARE @count int;
  DECLARE @loopVar int ;
  DECLARE @i int ;
  DECLARE @casual float ;
  DECLARE @festive float ;
  DECLARE @sick float;

  CREATE TABLE #TempTable
  (
    ID INT IDENTITY(1, 1) primary key ,
    EmpId INT
  );

INSERT INTO #TempTable SELECT ID FROM UserInfo WHERE UserType != 1 

SELECT @count = COUNT(ID) FROM #TempTable
SELECT @loopVar = 0
SELECT @i = 0

SELECT @casual = Count From LeaveType WHERE Type='Casual'
SELECT @festive = Count From LeaveType WHERE Type='Festive'
SELECT @sick = Count From LeaveType WHERE Type='Sick'

WHILE @loopVar < @count
BEGIN
     SELECT @i = @i + 1

     DECLARE @empid int;
	 SELECT @empid = EmpId from #TempTable where ID = @i	 
	 DECLARE @EXIST_ROW int = 0;
	 SELECT @EXIST_ROW = ID FROM LeaveStatistics where EmpId = @empid AND Year = @year
	 SELECT @loopVar = @loopVar + 1
	 IF @EXIST_ROW <= 0
		 INSERT into LeaveStatistics(EmpId,CasualLeave,FestiveLeave,SickLeave,LossOfPay,[Year])
		 VALUES(@empid,@casual,@festive,@sick,'0',@year)
	 
END
IF OBJECT_ID('tempdb.dbo.#TempTable', 'U') IS NOT NULL
  DROP TABLE #TempTable;
END








GO
/****** Object:  StoredProcedure [dbo].[CreateCalendarTask]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[CreateCalendarTask]
(
@event_type INT,
@heading nvarchar(50),
@note nvarchar(max),
@status INT,
@start_date nvarchar(50),
@end_date nvarchar(50),
@employee_id nvarchar(max),
@isLeaveTask bit,
@leaveId INT,
@task_id INT OUT
)

AS
BEGIN
INSERT INTO calendar_event_info([heading],[note],[status],[event_type])
VALUES(@heading,@note,@status,@event_type)

Select @task_id=@@IDENTITY 

INSERT INTO calendar_event_info_dates([task_id],[start_date],[end_date])
VALUES(@task_id,@start_date,@end_date)

-- Insert statement
INSERT INTO calendar_event_employees
SELECT @task_id, CAST(Item AS INT) 
FROM  dbo.SplitString(@employee_id, ',')   

IF @isLeaveTask = 1
  UPDATE EmployeeLeaveInfo SET CalendarEntryId = @task_id WHERE Id = @leaveId;
END








GO
/****** Object:  StoredProcedure [dbo].[EditCalendarTask]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[EditCalendarTask]
(
@heading nvarchar(50),
@note nvarchar(max),
@status INT,
@start_date nvarchar(50),
@end_date nvarchar(50),
@employee_id nvarchar(max),
@task_id INT
)

AS
BEGIN

UPDATE calendar_event_info SET [heading] = @heading,[note] = @note,[status] = @status 
WHERE id = @task_id 

UPDATE calendar_event_info_dates SET [start_date] = @start_date,[end_date] = @end_date
WHERE task_id = @task_id

DELETE FROM calendar_event_employees WHERE task_id = @task_id
-- Insert statement
INSERT INTO calendar_event_employees
SELECT @task_id, CAST(Item AS INT) 
FROM  dbo.SplitString(@employee_id, ',')

END


GO
/****** Object:  StoredProcedure [dbo].[InsertEmployeeDetailsMVC]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[InsertEmployeeDetailsMVC]
(
@empfirstname nvarchar(50),
@emplastname nvarchar(50),
@empusername varchar(10),
@emppassword nvarchar(max),
@empgender varchar(5),
@empphone varchar(10),
@empmail nvarchar(50),
@usertype INT,
@designation INT,
@empdob DATETIME,
@empphotopath nvarchar(max),
@UserId int OUT,
@empid int OUT,
@casual float OUT,
@festive float OUT,
@sick float OUT,
@year INT OUT
)

AS
BEGIN
INSERT INTO UserInfo([UserName],[Password],[UserType])
VALUES(@empusername,@emppassword,@usertype)

Select @UserId=@@IDENTITY 

INSERT INTO EmployeeInfo([EmpId],[EmpFirstname],[EmpLastname],[EmpPhone],[EmpEmail],[EmpGender],[EmpDob],[EmpPhotoPath],[EmpDesignation])
VALUES(@UserId,@empfirstname,@emplastname,@empphone,@empmail,@empgender,@empdob,@empphotopath,@designation)

Select @empid=@@IDENTITY 

select @casual=Count From LeaveType WHERE Type='Casual'
select @festive=Count From LeaveType WHERE Type='Festive'
select @sick=Count From LeaveType WHERE Type='Sick'

INSERT into LeaveStatistics(EmpId,CasualLeave,FestiveLeave,SickLeave,LossOfPay,[Year]) VALUES(@UserId,@casual,@festive,@sick,'0',@year)
END








GO
/****** Object:  StoredProcedure [dbo].[RemoveCalendarTask]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[RemoveCalendarTask]
(
@task_id INT
)
AS
Begin
DELETE FROM calendar_event_employees WHERE task_id=@task_id
DELETE FROM calendar_event_treeitems WHERE task_id=@task_id
DELETE FROM calendar_event_info_dates WHERE task_id=@task_id
DELETE FROM calendar_event_log WHERE task_id=@task_id
DELETE FROM calendar_event_info WHERE ID=@task_id

END





GO
/****** Object:  StoredProcedure [dbo].[RemoveEmployee]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[RemoveEmployee]
(
@empid INT
)
AS
Begin
DELETE FROM Attendance WHERE EmpId=@empid
DELETE FROM EmployeeLeaveInfo WHERE EmpId=@empid
DELETE FROM LeaveStatistics WHERE EmpId=@empid
DELETE FROM HrmsQuery WHERE EmpId=@empid
DELETE FROM EmployeeInfo WHERE EmpId=@empid
DELETE FROM UserInfo WHERE ID=@empid

END





GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitString]
(	
	@Input NVARCHAR(MAX),
	@Character CHAR(1)
)
RETURNS @Output TABLE (
	Item NVARCHAR(1000)
)
AS
BEGIN
	DECLARE @StartIndex INT, @EndIndex INT

	SET @StartIndex = 1
	IF SUBSTRING(@Input, LEN(@Input) - 1, LEN(@Input)) <> @Character
	BEGIN
		SET @Input = @Input + @Character
	END

	WHILE CHARINDEX(@Character, @Input) > 0
	BEGIN
		SET @EndIndex = CHARINDEX(@Character, @Input)
		
		INSERT INTO @Output(Item)
		SELECT SUBSTRING(@Input, @StartIndex, @EndIndex - 1)
		
		SET @Input = SUBSTRING(@Input, @EndIndex + 1, LEN(@Input))
	END

	RETURN
END
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[PunchinTime] [datetime] NULL,
	[PunchoutTime] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calendar_event_archive]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar_event_archive](
	[Id] [int] NOT NULL,
	[task_id] [int] NULL,
	[filename] [nvarchar](max) NULL,
	[filepath] [nvarchar](max) NULL,
	[date] [nvarchar](20) NULL,
 CONSTRAINT [PK_calendar_event_archive] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calendar_event_employees]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar_event_employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[task_id] [int] NULL,
	[employee_id] [int] NULL,
 CONSTRAINT [PK_calendar_event_employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calendar_event_info]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar_event_info](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[heading] [nvarchar](50) NULL,
	[note] [nvarchar](max) NULL,
	[status] [int] NULL,
	[event_type] [int] NULL,
 CONSTRAINT [PK_calendar_event_info] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calendar_event_info_dates]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar_event_info_dates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[task_id] [int] NULL,
	[start_date] [nvarchar](30) NULL,
	[end_date] [nvarchar](30) NULL,
 CONSTRAINT [PK_calendar_event_info_dates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calendar_event_log]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar_event_log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[task_id] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [nvarchar](30) NULL,
	[event_log] [nvarchar](max) NULL,
 CONSTRAINT [PK_calendar_event_log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calendar_event_status]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar_event_status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](20) NULL,
 CONSTRAINT [PK_calendar_event_status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calendar_event_treeitems]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar_event_treeitems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[task_id] [int] NULL,
	[name] [nvarchar](max) NULL,
	[text] [nvarchar](max) NULL,
	[parent_id] [int] NULL,
	[node_type] [nvarchar](10) NULL,
	[deleted_at] [nvarchar](30) NULL,
	[created_at] [nvarchar](30) NULL,
	[updated_at] [nvarchar](30) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calendar_event_type]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar_event_type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](20) NULL,
 CONSTRAINT [PK_calendar_event_type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmpDesignation]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpDesignation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Designation] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EmpDesignation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeInfo]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[EmpPhone] [nchar](10) NOT NULL,
	[EmpEmail] [nvarchar](50) NOT NULL,
	[EmpGender] [nchar](10) NOT NULL,
	[EmpDob] [datetime] NOT NULL,
	[EmpPhotoPath] [nvarchar](max) NULL,
	[EmpDesignation] [int] NULL,
	[EmpFirstname] [nvarchar](50) NULL,
	[EmpLastname] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employee Info] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeLeaveInfo]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeLeaveInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[LeaveType] [int] NULL,
	[Status] [int] NULL,
	[Comments] [varchar](50) NULL,
	[DurationType] [varchar](15) NULL,
	[CalendarEntryId] [int] NULL,
	[LeaveSessionType] [int] NULL,
 CONSTRAINT [PK_EmployeeLeaveInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HrmsQuery]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HrmsQuery](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuerySubject] [nvarchar](max) NULL,
	[QueryBody] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
	[IsRead] [bit] NULL,
	[EmpId] [int] NULL,
 CONSTRAINT [PK_HrmsQuery] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LeaveStatistics]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveStatistics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[CasualLeave] [float] NULL,
	[FestiveLeave] [float] NULL,
	[SickLeave] [float] NULL,
	[LossOfPay] [float] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_LeaveStatistics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LeaveType]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nchar](10) NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_LeaveType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PasswordResetToken]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[empId] [int] NULL,
	[token] [nvarchar](max) NULL,
	[created] [nvarchar](50) NULL,
 CONSTRAINT [PK_PasswordResetToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAccessToken]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccessToken](
	[Id] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[AccessToken] [nvarchar](max) NOT NULL,
	[CreatedDateTime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserAccessToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[UserType] [int] NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserPrivilages]    Script Date: 2019-03-07 12:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPrivilages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Privilage] [nchar](10) NOT NULL,
 CONSTRAINT [PK_UserPrivilages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([ID], [EmpId], [PunchinTime], [PunchoutTime], [Notes]) VALUES (5, 9, CAST(N'2016-05-30 14:59:08.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Attendance] ([ID], [EmpId], [PunchinTime], [PunchoutTime], [Notes]) VALUES (7, 9, CAST(N'2016-05-31 09:48:39.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Attendance] ([ID], [EmpId], [PunchinTime], [PunchoutTime], [Notes]) VALUES (14, 9, CAST(N'2016-06-23 16:47:16.000' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Attendance] OFF
SET IDENTITY_INSERT [dbo].[calendar_event_employees] ON 

INSERT [dbo].[calendar_event_employees] ([Id], [task_id], [employee_id]) VALUES (1, 1, 8)
INSERT [dbo].[calendar_event_employees] ([Id], [task_id], [employee_id]) VALUES (2, 2, 3066)
INSERT [dbo].[calendar_event_employees] ([Id], [task_id], [employee_id]) VALUES (9, 7, 8)
SET IDENTITY_INSERT [dbo].[calendar_event_employees] OFF
SET IDENTITY_INSERT [dbo].[calendar_event_info] ON 

INSERT [dbo].[calendar_event_info] ([Id], [heading], [note], [status], [event_type]) VALUES (1, N'ef', N'sdf', 1, 1)
INSERT [dbo].[calendar_event_info] ([Id], [heading], [note], [status], [event_type]) VALUES (2, N'dsf', N'sdf', 1, 1)
INSERT [dbo].[calendar_event_info] ([Id], [heading], [note], [status], [event_type]) VALUES (6, N'Applied for leave', N'', 1, 3)
SET IDENTITY_INSERT [dbo].[calendar_event_info] OFF
SET IDENTITY_INSERT [dbo].[calendar_event_info_dates] ON 

INSERT [dbo].[calendar_event_info_dates] ([Id], [task_id], [start_date], [end_date]) VALUES (1, 1, N'2018-03-01 09:00:00', N'2018-03-03 11:00:00')
INSERT [dbo].[calendar_event_info_dates] ([Id], [task_id], [start_date], [end_date]) VALUES (2, 2, N'2018-03-01 08:00:00', N'2018-03-02 09:00:00')
INSERT [dbo].[calendar_event_info_dates] ([Id], [task_id], [start_date], [end_date]) VALUES (6, 6, N'2018-03-08 09:00:00', N'2018-03-08 13:00:00')
SET IDENTITY_INSERT [dbo].[calendar_event_info_dates] OFF
SET IDENTITY_INSERT [dbo].[calendar_event_log] ON 

INSERT [dbo].[calendar_event_log] ([Id], [task_id], [created_by], [created_at], [event_log]) VALUES (1, 1, 7, N'2018-03-02 18:32:50', N'Task created and assigned to employees by admin.')
INSERT [dbo].[calendar_event_log] ([Id], [task_id], [created_by], [created_at], [event_log]) VALUES (2, 2, 7, N'2018-03-02 20:09:38', N'Task created and assigned to employees by admin.')
INSERT [dbo].[calendar_event_log] ([Id], [task_id], [created_by], [created_at], [event_log]) VALUES (6, 6, 8, N'2018-03-03 10:54:29', N'Leave added.')
SET IDENTITY_INSERT [dbo].[calendar_event_log] OFF
SET IDENTITY_INSERT [dbo].[calendar_event_status] ON 

INSERT [dbo].[calendar_event_status] ([Id], [status]) VALUES (1, N'ASSIGNED')
INSERT [dbo].[calendar_event_status] ([Id], [status]) VALUES (2, N'INPROGRESS')
INSERT [dbo].[calendar_event_status] ([Id], [status]) VALUES (3, N'REVIEW')
SET IDENTITY_INSERT [dbo].[calendar_event_status] OFF
SET IDENTITY_INSERT [dbo].[calendar_event_type] ON 

INSERT [dbo].[calendar_event_type] ([Id], [type_name]) VALUES (1, N'Task')
INSERT [dbo].[calendar_event_type] ([Id], [type_name]) VALUES (2, N'Birthday')
INSERT [dbo].[calendar_event_type] ([Id], [type_name]) VALUES (3, N'Leave')
SET IDENTITY_INSERT [dbo].[calendar_event_type] OFF
SET IDENTITY_INSERT [dbo].[EmpDesignation] ON 

INSERT [dbo].[EmpDesignation] ([ID], [Designation]) VALUES (1, N'HR')
INSERT [dbo].[EmpDesignation] ([ID], [Designation]) VALUES (2, N'SOFTWARE ENGINEER')
SET IDENTITY_INSERT [dbo].[EmpDesignation] OFF
SET IDENTITY_INSERT [dbo].[EmployeeInfo] ON 

INSERT [dbo].[EmployeeInfo] ([ID], [EmpId], [EmpPhone], [EmpEmail], [EmpGender], [EmpDob], [EmpPhotoPath], [EmpDesignation], [EmpFirstname], [EmpLastname]) VALUES (10, 7, N'9633078146', N'nithinvelluva@gmail.com', N'M         ', CAST(N'1992-05-28 00:00:00.000' AS DateTime), NULL, 1, N'Admin', N'User')
INSERT [dbo].[EmployeeInfo] ([ID], [EmpId], [EmpPhone], [EmpEmail], [EmpGender], [EmpDob], [EmpPhotoPath], [EmpDesignation], [EmpFirstname], [EmpLastname]) VALUES (11, 8, N'1234567890', N'nithinvelluva@gmail.com', N'M         ', CAST(N'1992-05-28 00:00:00.000' AS DateTime), N'HRMS_c7749e1a-45e5-4468-828c-53a8d3917e46.png', 2, N'Test', N'User')
INSERT [dbo].[EmployeeInfo] ([ID], [EmpId], [EmpPhone], [EmpEmail], [EmpGender], [EmpDob], [EmpPhotoPath], [EmpDesignation], [EmpFirstname], [EmpLastname]) VALUES (12, 9, N'9633078146', N'nithinvelluva@gmail.com', N'M         ', CAST(N'1992-05-28 00:00:00.000' AS DateTime), N'HRMS_d60a6c8f-9f90-4953-9671-4c67c074f670.jpg', 2, N'Nithin', N'Narayanan')
SET IDENTITY_INSERT [dbo].[EmployeeInfo] OFF
SET IDENTITY_INSERT [dbo].[EmployeeLeaveInfo] ON 

INSERT [dbo].[EmployeeLeaveInfo] ([Id], [EmpId], [FromDate], [ToDate], [LeaveType], [Status], [Comments], [DurationType], [CalendarEntryId], [LeaveSessionType]) VALUES (1, 9, CAST(N'2019-02-12 00:00:00.000' AS DateTime), CAST(N'2019-02-13 00:00:00.000' AS DateTime), 1, 2, N'', N'Full Day', 0, 0)
SET IDENTITY_INSERT [dbo].[EmployeeLeaveInfo] OFF
SET IDENTITY_INSERT [dbo].[LeaveStatistics] ON 

INSERT [dbo].[LeaveStatistics] ([Id], [EmpId], [CasualLeave], [FestiveLeave], [SickLeave], [LossOfPay], [Year]) VALUES (1008, 8, 0, 0, 0.5, 0, 2016)
INSERT [dbo].[LeaveStatistics] ([Id], [EmpId], [CasualLeave], [FestiveLeave], [SickLeave], [LossOfPay], [Year]) VALUES (1009, 9, 0, 0, 5, 0, 2016)
INSERT [dbo].[LeaveStatistics] ([Id], [EmpId], [CasualLeave], [FestiveLeave], [SickLeave], [LossOfPay], [Year]) VALUES (1011, 11, 24, 9, 14, 0, 2016)
GO
SET IDENTITY_INSERT [dbo].[LeaveStatistics] OFF
SET IDENTITY_INSERT [dbo].[LeaveType] ON 

INSERT [dbo].[LeaveType] ([Id], [Type], [Count]) VALUES (1, N'Casual    ', 30)
INSERT [dbo].[LeaveType] ([Id], [Type], [Count]) VALUES (2, N'Festive   ', 9)
INSERT [dbo].[LeaveType] ([Id], [Type], [Count]) VALUES (5, N'Sick      ', 14)
SET IDENTITY_INSERT [dbo].[LeaveType] OFF
SET IDENTITY_INSERT [dbo].[PasswordResetToken] ON 

INSERT [dbo].[PasswordResetToken] ([Id], [empId], [token], [created]) VALUES (1, 2062, N'739cc54b-51a8-4a07-adc4-7bcd8508d1b9_nithinvelluva@gmail.com_2062', N'2019-02-27 5:11:47 PM')
INSERT [dbo].[PasswordResetToken] ([Id], [empId], [token], [created]) VALUES (2, 2062, N'99c458d0-36cc-48d6-a9e3-8010ead81c3b_nithinvelluva@gmail.com_2062', N'2019-02-27 5:14:01 PM')
INSERT [dbo].[PasswordResetToken] ([Id], [empId], [token], [created]) VALUES (3, 2062, N'fea58800-a682-455c-9f13-bc3965e603af_nithinvelluva@gmail.com_2062', N'2019-02-27 5:15:17 PM')
SET IDENTITY_INSERT [dbo].[PasswordResetToken] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([ID], [UserName], [Password], [UserType]) VALUES (7, N'admin', N'MIhjGZU1/xBQdJMwd8IUbbApNR3+dBEYa0DeZx3soMYEpaCI', 1)
INSERT [dbo].[UserInfo] ([ID], [UserName], [Password], [UserType]) VALUES (8, N'test', N'sbvwVSzI/VlCpMDBbx1o4noEMPd22jyjELw1Dv2uWcYrlFAY', 2)
INSERT [dbo].[UserInfo] ([ID], [UserName], [Password], [UserType]) VALUES (9, N'nithin', N'HlQK7pEuOVScTv0J7PsznGIICbvuEJ3TUYLrcixDeYW7iJYu', 2)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
SET IDENTITY_INSERT [dbo].[UserPrivilages] ON 

INSERT [dbo].[UserPrivilages] ([Id], [Privilage]) VALUES (1, N'ADMIN     ')
INSERT [dbo].[UserPrivilages] ([Id], [Privilage]) VALUES (2, N'USER      ')
SET IDENTITY_INSERT [dbo].[UserPrivilages] OFF
ALTER TABLE [dbo].[EmployeeInfo]  WITH CHECK ADD FOREIGN KEY([EmpDesignation])
REFERENCES [dbo].[EmpDesignation] ([ID])
GO
ALTER TABLE [dbo].[EmployeeInfo]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeInfo_UserInfo] FOREIGN KEY([EmpId])
REFERENCES [dbo].[UserInfo] ([ID])
GO
ALTER TABLE [dbo].[EmployeeInfo] CHECK CONSTRAINT [FK_EmployeeInfo_UserInfo]
GO
ALTER TABLE [dbo].[EmployeeLeaveInfo]  WITH CHECK ADD FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeInfo] ([EmpId])
GO
ALTER TABLE [dbo].[EmployeeLeaveInfo]  WITH CHECK ADD FOREIGN KEY([LeaveType])
REFERENCES [dbo].[LeaveType] ([Id])
GO
ALTER TABLE [dbo].[LeaveStatistics]  WITH CHECK ADD FOREIGN KEY([EmpId])
REFERENCES [dbo].[EmployeeInfo] ([EmpId])
GO
ALTER TABLE [dbo].[PasswordResetToken]  WITH CHECK ADD FOREIGN KEY([empId])
REFERENCES [dbo].[EmployeeInfo] ([EmpId])
GO
ALTER TABLE [dbo].[UserAccessToken]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[EmployeeInfo] ([EmpId])
GO
USE [master]
GO
