.app-header {
    background-color: #fff !important;
    height: 80px !important;
    width: 100% !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    box-sizing: border-box;
}

    .app-header img {
        height: 50px;
    }

    .app-header .nav-container {
        padding: 10px;
    }

     /*.app-header .nav-logo {
       padding: 10px;
    }*/

    .app-header .btn-container {
        padding: 10px;
    }