<div class="container-fluid text-left">
    <div class="display-inline">
        <div class="display-inline circle blue-bg"></div>
        <span class="display-inline">Assigned</span>
    </div>
    <div class="display-inline">
        <div class="display-inline circle orange-bg"></div>
        <span class="display-inline">Ongoing</span>
    </div>
    <div class="display-inline">
        <div class="display-inline circle green-bg"></div>
        <span class="display-inline">Completed</span>
    </div>
    <div class="display-inline">
        <div class="display-inline circle yellow-bg"></div>
        <span class="display-inline">Review</span>
    </div>
</div>
