<div class="body-content">
  <app-header></app-header>
  <div class="auth-wrapper container">
    <section>
      <form autocomplete="off" method="post">
        <div class="waitIconDiv col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
          <i class='fa fa-refresh fa-spin fa-2x fa-fw' id="imgProg"></i>
        </div>
        <div class="login-card">
          <div id="pwdResetDiv">
            <div class="row">
              <h3 class="modal-title text-center">Reset Password</h3>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>New password</label>
                  <input type="password" class="form-control" id="newpassword" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Confirm New password</label>
                  <input type="password" class="form-control" id="cnfrmnewpassword" />
                </div>
              </div>
            </div>
            <br />
            <div class="row text-center pull-right">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input type="submit" class="login login-submit btn btn-primary btn-fill" value="Submit"
                  (click)="showLoad();" id="pwdResetSubmitBtn" name="actionName" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <app-footer></app-footer>
  </div>
</div>