<div class="body-content">
  <app-header></app-header>
  <div class="container auth-wrapper">
    <section>
      <form autocomplete="off" method="post">
        
        <div class="login-card">
          <div id="frgtMailSentDiv">
            <div class="row">
              <h3 class="modal-title text-center">Forgot Password</h3>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Username/Email</label>
                  <input type="text" class="form-control" id="UserEmail">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Know your password ? <a routerLink="/auth/login" class="hrefLink">Login</a>
              </div>
            </div>
            <br />
            <div class="row text-center pull-right">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input type="submit" class="login login-submit btn btn-primary btn-fill" value="Submit"
                  id="pwdResetSubmitBtn" name="actionName" (click)="showLoad();" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <app-footer></app-footer>
  </div>
</div>