<div id="wrapper">
  <section>        
              <div class="waitIconDiv col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
                  <i class="fa fa-refresh fa-spin fa-2x fa-fw" id="imgProg"></i>
              </div>
              <div class="login-card">
                  <div id="frgtMailSentDiv">
                      <div class="row">
                          <h3 class="modal-title text-center">Forgot Password</h3>
                      </div>
                      <br />
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              Know your password ? <a routerLink="/auth/login" class="hrefLink">Login</a>
                          </div>
                      </div>
                      <br />
                      <div class="row text-center pull-right">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <input type="submit" class="login login-submit btn btn-primary btn-fill" value="Submit" id="pwdResetSubmitBtn" name="actionName" onclick="showLoad();"/>
                          </div>
                      </div>
                  </div>                                       
              </div>        
  </section>
</div>